.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.imageupload__button {
  border: 1px solid lightgray !important;
}

.input__text {
  height: 80px;
  border-radius: 5px;
}

::placeholder {
  text-align: left;
  text-justify: none;
}

.input__file[type="file"] {
  margin: 20px auto;
}

.imageupload__progress {
  width: 100%;
}
