.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.imageupload__button {
  border: 1px solid lightgray !important;
}

.input__text {
  height: 60px;
  border-radius: 5px;
}

::placeholder {
  text-align: left;
  text-justify: none;
}
.custom-file-upload {
  margin: 10px;
  width: 70px;
  font-size: 12px;
  text-align: center;
  background-color: #0095f6;
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.input__file[type="file"] {
  margin: 10px auto;
  display: none;
}

.imageupload__progress {
  width: 100%;
}
